.Btn {
    width: calc(100vw/1280*180);
    height: calc(100vh/720*60);
    background-color: #6EEB83;
    text-transform: uppercase;
    color: #000;
    font-family: Lexend Deca;
    font-size: calc(100vw/1280*20);
    font-style: normal;
    font-weight: 600;
}